/.metadata/
*.xml
.idea/workspace.xml
*.iml
.metadata/.log
*.zip
*.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
*.index
*.resources
*.prefs
*.xml
*.xmi
*.txt
*.dat
*.xml
*.xml
*.xml
*.log
*.properties
*.properties
*.ini
